.relationship
	.relationship
		div(ng:hide="editing", ng:click="editing=true")
			| {{relationship.name()}}:
			span.type
				| {{relationship.type()}} {{relationship.to().name()}}

		div.edit(ng:show="editing")
			| Calling
			br
			input.name(jefri:property="relationship.name", type="text") | ()
			br
			select(jefri:property="relationship.type")
				option(value="is_a") Is a
				option(value="has_a") Has a
				option(value="has_many") Has many
			
			select.to_id(jefri:property="relationship.to_id")
				option(disabled) Entity:
				option(ng:repeat="entity in context.entities()", value="{{entity.id()}}") {{entity.name()}}
			br
			| Linking
			select.from_property(jefri:property="relationship.from_property")
				option(disabled) From:
				option(ng:repeat="property in relationship.from().properties()", value="{{property.id()}}") {{property.name()}}
			| &rarr;
			select.to_property(jefri:property="relationship.to_property")
				option(disabled) To:
				option(ng:repeat="property in relationship.to().properties()", value="{{property.id()}}") {{property.name()}}
			br
			| Back relationship is:
			select.back(jefri:property="relationship.back")
				option(value="") None
				option(ng:repeat="backrelationship in relationship.to().relationships()", value="{{backrelationship.id()}}") {{backrelationship.name()}}
			br
			button.done.btn.btn-mini(ng:click="editing=false;")
				i.icon-ok-sign
			button.done.delete.btn.btn-mini(ng:click="editing=false; destroy()")
				i.icon-remove
			br