body {
	margin: 0;
	padding: 0;	}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;	}

ul {
	list-style: none;
	margin: 0;
	padding: 0;	}

.draggable {
	display: block;
	float: left;
	z-index: 100;
	margin: 1em;	}

	.draggable h3 {
		padding: 0;
		margin: 0;
		cursor: move;
		font-size: 1em;	}

	.draggable ul {
		list-style: none;
		padding: 0;
		margin: 0;	}

		.draggable li {
			font-size: .8em;	}

			.draggable li a {
				text-decoration: none;	}

.key {
	font-weight: bold;	}

#relationships {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;	}

#entities {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;	}

#controls {
/*	width: 250px;*/
	height: 75%;
	position: absolute;
	top: 1%;
	right: 1%;
	z-index: 200;
	overflow: auto;
	border: thin solid black;	}

#templates, #dialogs {
	display: none;	}

#loadSave {
	}

	#loadSave textarea {
		width: 99%; }

.entity {
	width: 225px;	}

	.entity span.type {
		font-style: italic;	}

.edit_field {
	padding: 0.25em;
	clear: both;	}

	.edit_field input, .edit_field select, .edit_field textarea {
		width: 200px;	}

	.edit_field button.done {
		float: right;
		clear: both;	}

