#controls
	.empty
		.controls
			a#new_entity.btn(type="button", ng:click="add()") New Entity
			hr
			a#load_context.btn(ng:click='action="Load"', data-toggle='modal', href="#loadSaveDialog") Manage Context
			br
			a#load_sample.btn(ng:click='loadSample()', href="#loadSample") Load Sample

		#loadSaveDialog.modal.fade(ng:model="showLoadSave", ui-modal, data-backdrop="static", aria-labeledby="#lsModalLabel")
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-hidden="true")×
				h3#lsModalLabel {{action}}
			.modal-body
				.tabbable.tabs-left
					ul.nav.nav-tabs
						li
							a(href="#loadContent", ng:click='action="Load"') Load
						li
							a(href="#saveContent", ng:click='action="Save"') Save
					.tab-content
						ul.nav.nav-tabs
							li.active
								a(href="#store-selection", data-toggle="tab") Store
							li
								a(href="#context-selection", ng:click="loadContexts()", data-toggle="tab") Context
						.tab-content
							#store-selection.tab-pane.active
								select(ng:model='storage')
									option LocalStore
									option PostStore
								div(ng:show='isRemoteStore()')
									| Remote endpoint: 
									input(ng:model="endpoint")
							#context-selection.tab-pane
								select(ng:model="contextId", size=4)
									option(ng:repeat="context in contexts", value="{{context.id()}}") {{context.name()}} {{context.id() | shortId }}
								div(ng:show="isSaving()")
									input(ng:model="contextName")

			.modal-footer
				button.btn(data-dismiss="modal", aria-hidden="true") Close
				button.btn.btn-primary(ng:click="finish()") {{action + " changes"}}