body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.draggable {
  display: block;
  float: left;
  z-index: 100;
  margin: 1em;
}
.draggable h3 {
  padding: 0;
  margin: 0;
  cursor: move;
  font-size: 1em;
}
.draggable ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.draggable ul li {
  font-size: 0.8em;
}
.draggable ul li li a {
  text-decoration: none;
}
.key {
  font-weight: bold;
}
#relationships {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.context {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: #ddd url("/img/starBg.jpg") 50% 50% repeat;
}
#controls {
  height: 75%;
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 200;
  overflow: auto;
  border: thin solid #000;
  background: #fff;
}
#templates,
#dialogs {
  display: none;
}
#loadSave textarea {
  width: 99%;
}
.entity {
  width: 225px;
  border: thin solid;
}
.entity .type {
  font-style: italic;
}
.entity .delete {
  float: right;
  font-size: 1rem;
  margin: 0;
}
.edit_field {
  padding: 0.25em;
  clear: both;
}
.edit_field input,
.edit_field select,
.edit_field textarea {
  width: 200px;
}
.edit_field button.done {
  float: right;
  clear: both;
}
