<div class="entity ui-widget ui-corner-all {{entity.name()}}">
	<h3 class="ui-widget-header ui-corner-top">
		<span class="name">{{entity.name() | default:"Name"}}</span>
	</h3>
	<ul class="ui-widget-content field-list">
		<li ng-repeat="property in entity.properties()" class="ui-widget-content">
			<property />
		</li>
		<li class="ui-widget-content"><a href='#' ng:click="addField()">+ Field</a></li>
	</ul>
	<ul class="ui-widget-content relationship-list">
		<li ng-repeat="relationship in entity.relationship()" class="ui-widget-content">
			<relationship />
		</li>
		<li class="ui-widget-content"><a href='#' ng:click="addRelationship()">+ Relationship</a></li>
	</ul>
</div>