<div class="entity ui-widget ui-corner-all {{entity.name()}}">
	<h3 class="ui-widget-header ui-corner-top">
		<inline property="name" default="Name" />
		<button class="delete" ng:click="delete()">X</button>
	</h3>
	<div class="ui-widget-content field-list">
		<div ng-repeat="property in entity.properties()" class="ui-widget-content">
			<property />
		</div>
		<div class="ui-widget-content"><a href='#' ng:click="addField()">+ Field</a></div>
	</div>
	<div class="ui-widget-content relationship-list">
		<relationship ng-repeat="relationship in entity.relationships()" class="ui-widget-content" />
		<div class="ui-widget-content"><a href='#' ng:click="addRelationship()">+ Relationship</a></div>
	</div>
</div>