<div class="property {{property.name()}}">
	<span ng:hide="editing" ng:click="editing=true">
		{{property.name()}}: <span class="type" jefri:property="property.type" />
	</span>
	<span ng:show="editing" class="edit">
		<input jefri:property="property.name" /><br />
		<select jefri:property="property.type">
			<option value="string">String</option>
			<option value="int">Integer</option>
			<option value="float">Float</option>
			<option>&nbsp;</option>
			<option>Real</option>
			<option>Complex</option>
			<option>Ordinal</option>
			<option>Cardinal</option>
			<option>Prime</option>
			<option>Singular</option>
			<option>Blob</option>
		</select>
		<button class="done" ng:click="editing=false;">Done</button>
		<button class="done delete" ng:click="editing=false;property._destroy()">X</button>
	</span>
</div>