.property
	.property(class="{{property.name()}}")
		input(type="radio", name="{{entity.name()}}_key", jefri:property="entity.key", value="{{property.name()}}")

		span(ng:hide="editing", ng:click="editing=true")
			| {{property.name()}}:
			span.type(jefri:property="property.type")
		
		span.edit(ng:show="editing")
			input(jefri:property="property.name")
			br
			select(jefri:property="property.type")
				option(disabled) Type
				optgroup(label="Common")
					option(value="string") String
					option(value="int") Integer
					option(value="float") Float
				optgroup(label="Extended")
					option Real
					option Complex
					option Ordinal
					option Cardinal
					option Prime
					option Singular
					option Blob
			
			button.done.btn.btn-mini(ng:click="editing=false;")
				i.icon-ok-sign
			button.done.delete.btn.btn-mini(ng:click="editing=false;property._destroy()")
				i.icon-remove
			br