!!!
html(lang="en")
	head
		meta(charset="utf-8")
		title JEFRi Modeler
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css")
		link(rel="stylesheet", href="styles/lib/glight/glight.css")
		link(rel="stylesheet", href="styles/lib/$/select2/style.css")
		link(rel="stylesheet", href="styles/jefri-modeler.css")

		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js")
		script(src="scripts/lib/$/jsplumb/min.js")
		script(src="scripts/lib/$/select2/min.js")
		script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js")
		script(src="scripts/lib/_/superscore.js")
		script(src="scripts/lib/jefri/min.js")
		
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js")
		script(src="scripts/lib/angular/ui/min.js")

	body
		include app

		#templates(ng:hide)
			include ../templates.html

		script(src="scripts/app.js")
		script(src="scripts/filters.js")
		//- script(src="scripts/controllers.js")
		script(src="scripts/services.js")
		script(src="scripts/directives.js")
		script(src="scripts/components.js")

		//- script(src="dist/modeler.min.js")
		//- script(src="dist/modeler.ls.js")
